/* 背景  */
body {
  background: #f6f6f6;
}

/* 兼容手机端 */
@media screen and (max-width: 768px) {
  .el-col {
    margin-bottom: 5px;
  }
  .el-button + .el-button {
    margin-left: 5px;
  }
  .el-pagination {
    margin-top: 10px;
    text-align: center;
  }
}
