// 垂直居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 卡片效果
@mixin card {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

// 阴影效果
@mixin shadow {
  box-shadow: 0px 1px #ccc;
}
